#balloon {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
}

div {
    align-items: center;
}

input {
    width: inherit;
    height: inherit;
    background-color: transparent;
    border: none;
}